div {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin-left: 5px;
}

.strength-section {
  width: 30px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
}

.red {
  background-color: #f73820;
}

.yellow {
  background-color: #ffbf00;
}

.green {
  background-color: #00a86b;
}
